.category-box {
  margin-bottom: 45px;
}

.jobListItem {
  position: relative;
  background-color: #9fc5e7;
  color: #00539cff;
  border-radius: 10px;
  width: 80%;
  margin: 12px 5px;
  padding: 15px 25px;
}

.item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jobListItem h1 {
  margin: 0;
  font-size: 1.1em;
}

.pay {
  font-size: 0.8em;
  align-content: flex-end;
  margin: 0;
}

.date {
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  font-size: 1em;
  display: flex;
  align-self: flex-end;
}

.rate {
  font-weight: bold;
  margin: 2px;
}

.offers {
  padding: 5px;
}

.accordion {
  width: 90%;
}

.accordion__item + .accordion__item {
  width: 100%;
}

.offer-list-item {
  color: #fff;
  background: #00539cff;
  padding: 15px;
  height: 75px;
  border-radius: 10px;
}

.small-profile {
  width: 300px;;
}

.small-profile img {
  margin-right: 5px;
}

.small-profile-offer {
  width: 300px;
  color: black;
  margin-right: 65px;
}

.small-profile-offer img {
  margin-right: 5px;
}

.small-profile-offer .username {
  color: #ace;
  margin-left: 5px;
}

.small-profile-offer .username:hover {
  text-decoration: underline;
  cursor: pointer;
}

.status-element {
  pointer-events: none;
  outline: none;
  background-color: #00539cff;
  outline-style: none;
  color: white;
  border-radius: 5px;
}

.item-row-2 h1 {
  margin: 0;
  font-size: 1.3em;
}
.item-row-2 {
  display: flex;
  justify-content: space-between;
}

.profile-container {
  display: flex;
  align-items: center;
  width: 30px;
  white-space: nowrap;
}

.profile-container img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 3px;
}
.profile-container p {
  margin-top: 3px;
  color: #135ea2;
  margin-bottom: 5px;
  display: inline-block;
}

.profile-container-inner {
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-container-inner img {
  height: 50px;
  width: 50px;
  border-radius: 50%;

  margin-top: 3px;
}

/* .profile-container-inner p {
  color: #fff;
  margin-top: 3px;
} */

.app-username p {
  color: #9fc5e7;
}

.profile-btn {
  margin-top: 5px;
  margin-bottom: 5px;
  background: #9fc5e7;
  outline: none;
  color: #135ea2;
  /* padding: 10px; */
  border-radius: 5px;
  height: 35px;
  width: 65px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: none;
}

.small-profile:hover {
  text-decoration: underline;
  cursor: pointer;
}

.Collapsible__contentOuter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Collapsible__contentInner {
  text-align: center;
  margin-left: 74px;
  /* background: #00539cff; */
  background: #9fc5e7;
  color: #fff;
  /* border-radius: 10px; */
  width: 100%;
  margin: 12px 5px;
  padding: 20px;
  /* box-shadow: 0px 17px 0px 20px rgba(0,83,156,1);
  box-shadow: 0px 17px 6px 24px rgba(0,83,156,1); */
  border-top: 2px solid #135ea2;
}

/* .Collapsible__contentInner .offers {
  color: green;
} */

.job-list-chevron {
  display: flex;
  /* align-self: center; */
  color: chocolate;
  font-size: 28px;
  margin: 0 auto;
  margin-top: 10px;
}

.job-description {
  margin: 0px auto 10px auto;
  color: #00539cff;
  text-align: left;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.5);
  padding: 5px; */
}

.job-name {
  margin-left: 100px;
}

.light-btn {
  width: 100px;
  height: 40px;
  border-radius: 30px;
  text-align: center;
  outline: none;
  margin: 5px;
  border: none;
  background: #9fc5e7;
  color: #135ea2;
}

.light-btn:hover {
  background: chocolate;
  color: white;
  cursor: pointer;
}

.job-list-chevron:hover {
  -webkit-animation: mover 0.5s infinite alternate;
  animation: mover 0.5s infinite alternate;
}
.job-list-chevron:hover {
  -webkit-animation: mover 0.5s infinite alternate;
  animation: mover 0.5s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
