.jobListItem {
  background-color: #00539cff;
  color: #f9cb9c;
  border-radius: 10px;
  padding: 8px;
  width: 80%;
  margin: 12px 5px;
}

.item-row {
  display: flex;
  justify-content: space-between;
}

.jobListItem h1 {
  margin: 0;
  font-size: 1.3em;
}

.pay {
  font-size: 0.8em;
  align-content: flex-end;
  margin: 0;
}

.date {
  font-size: 1em;
  margin: 5px;
}

.rate {
  font-weight: bold;
  margin: 2px;
}
