.profile-card {
  background: #eeeeee;
  /* margin-top: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 0px 40px;
  /* margin: 0px auto; */
  padding: 26px;
}
.card-name-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 95%;
}

.stars-container {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-left: 3px;
}
zzz
.stars-container p {
  margin: 0px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  color: #02539b;
  font-size: 20px;
  margin-top: 0px;
}

.stars-container .card-title {
  margin-bottom: 10px;
}

.profile-info .card-title {
  margin-bottom: 10px;
}

.stars {
  font-size: 36px;
  font-weight: bold;
}

.profile {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-right: 30px;
}

.reviews {
  margin-top: 25px;
  /* border: 3px solid chocolate; */
  width: 95%;
}

.job-details {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid chocolate;
}

.job-details p {
  color: #02539b;
  font-weight: bold;
}

.job-feedback p {
  color: black;
  letter-spacing: 1px;
  font-size: 15px;
  margin: 12px 5px 5px 13px;
  width: 95%;
  text-indent: -0.5em;
}

.review-title {
  color: #02539b;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  margin-bottom: 3px;
}

.profile-container .username {
  margin-left: 5px;
}

.profile-container .btn {
  margin-right: 150px;
}

.review-box p {
  margin: 6px;
  padding-top: 15px;
}

.review-box h4 {
  margin: 6px;
  width: 90%;
}

.job-details h5 {
  margin: 6px;
  margin-right: 7px;
}
