
.toggle-btn-container .skin {
  border: 3px solid #9fc5e7;
  color: #9fc5e7;
  background-color: #093a79;
}
.toggle-btn-container .skin:hover {
  border-color: #093a79;
  color: #093a79;
  background-color: #9fc5e7;
}
.toggle-btn-container .skin:focus {
  border-color: #093a79;
  color: #093a79;
  background-color: #9fc5e7;
  padding: 16px 16px;
  outline: 0;
  border-radius: 12px;
}
.toggle-btn-container .selected {
  border-color: #093a79;
  color: #093a79;
  background-color: #9fc5e7;
  padding: 16px 16px;
  outline: 0;
  border-radius: 16px;
}


.skin:focus:first-of-type {
  border-radius: 30px 12px 12px 30px;
}
.skin:focus:last-of-type {
  border-radius: 12px 30px 30px 12px;
}

.toggle-btn-container .selected:first-of-type {
  border-radius: 30px 12px 12px 30px;
}
.toggle-btn-container .selected:last-of-type {
  border-radius: 12px 30px 30px 12px;
}


.toggle-btn-container .toggle-btn-container button::-moz-focus-inner {
  border: 0;
}

.toggle-btn-container .toggle-btn-container button {
  outline: 0;
}

.toggle-btn-container {
  margin: 40px;
  height: 70px;

}


.toggle-btn-container button {
  font-weight: 800;
  background: transparent;
  min-width: 100px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 15px;
  display: inline-block;
  padding: 10px 16px;
  margin: 0 3px 0 0;
  cursor: pointer;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}
.toggle-btn-container button:first-of-type {
  border-radius: 20px 8px 8px 20px;
}
.toggle-btn-container button:last-of-type {
  border-radius: 8px 20px 20px 8px;
}

@media only screen and (max-width: 767px) {
  button {
    min-width: 80px;
  }
}