.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px;
  min-height: 30rem;
}
.chat-form {
  max-width: 350px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
}

.name-field {
  margin-bottom: 40px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
}

.render-chat {
  max-width: 350px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
}

h3 {
  color: #2f72da;
}

span {
  color: black;
}

.bottom-nav {
  width: 45vw;
  background-color: #ace;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  box-shadow: 0px -2px 5px 0px rgba(170, 204, 238, 1),
    0px -4px 5px 0px rgba(160, 185, 219, 1);
  border-radius: 8px 0px;
  transition: 0.2s;
}

.bottom-nav:hover {
  background-color: rgb(153, 185, 218);
  box-shadow: 0px -3px 5px 0px rgba(153, 185, 218, 1),
    0px -5px 5px 0px rgb(115, 123, 133);
  transition: 0.2s;
}
