.fontawesome {
  color: black;
  margin: 20px;
  font-size: 20px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px;
  min-height: 30rem;
}

.message-container {
  position: fixed;
  bottom: 5px;
  width: 60%;
  overflow: hidden;
  margin-right: 100px;
}

.message-input {
  height: 11px;
  width: 40%;
  padding: 15px;
  border-radius: 25px;
  background: #eeeeee;
  font-size: 16px;
  border: none;
  margin-left: 115px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.message-btn {
  height: 40px;
  background: #03afdf;
  color: #fff;
  width: 85px;
  height: 40px;
  border-radius: 30px;
  text-align: center;
  outline: none;
  margin: 5px;
  border: none;
}

.message-btn:hover {
  background: #0483a7;
}

.message-input:focus {
  outline: none;
}

.name-field {
  margin-bottom: 40px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
}

.render-chat {
  max-width: 350px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
}

h3 {
  color: #2f72da;
}

span {
  color: black;
}

.bottom-nav {
  /* display: flex;
  align-content: flex-end;
  justify-content: center; */
  width: 100px;
  background-color: #0a3a79;
  position: absolute;
  /* top: 85px; */
  bottom: 0;
  cursor: pointer;
  /* box-shadow: 2px -1px 2px 0px rgba(210, 105, 30, 1),
    0px -2px 2px 0px rgba(210, 105, 30, 1); */
  border-radius: 8px 0px 0px 0px;
  transition: 0.2s;
  z-index: 10;
  right: 0px;
  height: 48px;
  color: white;
}

.bottom-nav:hover {
  /* background-color: rgb(153, 185, 218); */
  background-color: #0a3a79;
  width: 150px;
  /* box-shadow: 0px -3px 5px 0px rgba(153, 185, 218, 1),
    0px -5px 5px 0px rgb(115, 123, 133); */
  box-shadow: -2px -1px 2px 4px rgba(10, 58, 121, 1);
  /* 0px -2px 2px 0px rgba(210, 105, 30, 1); */
  transition: 0.2s;
}

.bottom-nav-back {
  background-color: #0a3a79;
  position: absolute;
  /* top: 85px; */
  bottom: 0;
  cursor: pointer;
  /* box-shadow: 2px -1px 2px 0px rgba(210, 105, 30, 1),
    0px -2px 2px 0px rgba(210, 105, 30, 1); */
  border-radius: 8px 0px 0px 0px;
  transition: 0.2s;
  z-index: 10;
  right: 0px;
  height: 48px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mail-icon {
  position: absolute;
  bottom: 0.01px;
  color: white;
  font-size: 30px;
  margin-bottom: 9px;
  display: flex;
  color: #9fc5e7;
}

.x-icon {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  padding: 18px;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

.x-icon:hover {
  transform: rotate(180deg);
}

/* @keyframes x-rotate {
  0% {
  }
} */

/* img {
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
          transition: transform 0.8s ease-in-out;
}

img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
} */

.messenger {
  display: grid;
  width: 100%;
  height: 100vh;
  background: #eeeef1;
  grid-template-columns: 350px auto;
  grid-template-rows: 60px auto 60px;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

body {
  font-family: helvetica;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat {
  width: 350px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.messages {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 0px;
}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.yours {
  align-items: flex-start;
}

.yours .message {
  margin-right: 25%;
  background-color: #eee;
  position: relative;
  color: black;
  overflow-wrap: break-word;
}

.yours .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #eee;
  border-bottom-right-radius: 15px;
}
.yours .message.last:after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
}

.mine {
  align-items: flex-end;
}

.mine .message {
  color: white;
  margin-left: 25%;
  background: linear-gradient(to bottom, #00d0ea 0%, #0085d1 100%);
  background-attachment: fixed;
  position: relative;
  overflow-wrap: break-word;
}

.mine .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: linear-gradient(to bottom, #00d0ea 0%, #0085d1 100%);
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
}

.mine .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
}

.chat-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

/* .message-list {
  padding-bottom: 100px;
  margin-bottom: 100px;
} */
