.conversation-list {
  display: flex;
  flex-direction: column;
  /* border: 3px solid blue; */
  width: 85%;
  margin: 0 auto;
}

.conversation-list-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.conversation-list-item:hover {
  background: #eeeef1;
  cursor: pointer;
}

.conversation-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.conversation-title {
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 4px;
}

.conversation-snippet {
  font-size: 14px;
  color: #888;
  margin: 0;
}
