.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px;
  min-height: 30rem;
}

.message-container {
  position: fixed;
  bottom: 5px;
  width: 60%;
  overflow: hidden;
  margin-right: 100px;
}

.message-input {
  height: 10px;
  width: 40%;
  padding: 15px;
  border-radius: 10px;
  background: #eeeeee;
  font-size: 16px;
  border: none;
  margin-right: 3px;
}

.message-btn {
  height: 40px;
  background: #03afdf;
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
  outline: none;
  border: none;
}

.message-btn:hover {
  background: #0483a7;
}

.message-input:focus {
  outline: none;
}

.name-field {
  margin-bottom: 40px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
}

.render-chat {
  max-width: 350px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
}

h3 {
  color: #2f72da;
}

span {
  color: black;
}

.bottom-nav {
  width: 160px;
  background-color: #ace;
  position: absolute;
  /* top: 85px; */
  bottom: 0;
  cursor: pointer;
  box-shadow: 0px -2px 5px 0px rgba(170, 204, 238, 1),
    0px -4px 5px 0px rgba(160, 185, 219, 1);
  border-radius: 8px;
  transition: 0.2s;
  z-index: 10;
  right: 0px;
  height: 48px;
}

.bottom-nav:hover {
  background-color: rgb(153, 185, 218);
  width: 300px;
  box-shadow: 0px -3px 5px 0px rgba(153, 185, 218, 1),
    0px -5px 5px 0px rgb(115, 123, 133);
  transition: 0.2s;
}

.messenger {
  display: grid;
  width: 100%;
  height: 100vh;
  background: #eeeef1;
  grid-template-columns: 350px auto;
  grid-template-rows: 60px auto 60px;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

body {
  font-family: helvetica;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.messages {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.yours {
  align-items: flex-start;
}

.yours .message {
  margin-right: 25%;
  background-color: #eee;
  position: relative;
  color: black;
  overflow-wrap: break-word;
}

.yours .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #eee;
  border-bottom-right-radius: 15px;
}
.yours .message.last:after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
}

.mine {
  align-items: flex-end;
}

.mine .message {
  color: white;
  margin-left: 25%;
  background: linear-gradient(to bottom, #00d0ea 0%, #0085d1 100%);
  background-attachment: fixed;
  position: relative;
  overflow-wrap: break-word;
}

.mine .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: linear-gradient(to bottom, #00d0ea 0%, #0085d1 100%);
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
}

.mine .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
}

.chat-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

/* .message-list {
  padding-bottom: 100px;
  margin-bottom: 100px;
} */
