.map-container {
  display: flex;
  width: 55vw;
  height: 90vh;
}

.jobs-container {
  width: 45vw;
  height: 90vh;
}

.containers {
  display: flex;
}

.find-me {
  position: absolute;
  z-index: 2;
  width: 15px;
  height: 15px;
}

.gmap {
  width: 100px;
}

.address-search {
  position: absolute;
  width: 250px;
}

.google-map {
  width: 90%;
  margin: 20px;
}
