.find-container {
  display: block;
}

h3 {
  border-bottom: 1px solid rgb(179, 89, 25);
  width: 55%;
  text-align: center;
  margin: auto;
  margin-bottom: 1em;
  padding-bottom: 5px;
  padding-top: 5px;
}

.text-center {
  text-align: center;
  margin: 25px 0px;
}

.post-form {
  margin: 0px 40px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 12px;
}


.accordion-show {
  display: flex;
  align-items: center;
  justify-content: center;
}
