.find-container {
  display: block;
}

h3 {
  border-bottom: 1px solid chocolate;
  width: 55%;
  text-align: center;
  margin: auto;
  margin-bottom: 1em;
  padding-bottom: 5px;
  padding-top: 5px;
}

.text-center {
  text-align: center;
  margin: 25px 0px;
}

.post-form {
  /* margin: 0px 40px;
  background: #eee; */
/*   display: flex;
  align-items: center;
  justify-content: center; */
  /* padding: 30px;
  border-radius: 12px; */

  position: relative;
  background-color: #9fc5e7;
  color: #00539cff;
  border-radius: 10px;
  width: 80%;
  margin: 12px 5px;
  padding: 15px 25px;

}

.accordion-show {
  display: flex;
  align-items: center;
  justify-content: center;
}
