@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Merriweather:wght@300&family=RocknRoll+One&display=swap");

html {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* font-family: "RocknRoll One", sans-serif !important; */
  font-family: "Merriweather", serif !important;
  /* font-family: "Josefin Sans", sans-serif; */
  /* overflow: scroll; */
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
