@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Merriweather:wght@300&family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,600&display=swap');
html {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Merriweather', serif !important;
  overflow: hidden;
  margin: 0;
  height: 100vh;
}

.App {
  height: 100vh;
}

.btn-small {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 60px;
  height: 25px;
  border-radius: 30px;
  text-align: center;
  outline: none;
  margin: 5px;
  border: none;
  background-color: #9fc5e7;
  color: #135ea2;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.btn {
  width: 100px;
  height: 40px;
  border-radius: 30px;
  text-align: center;
  outline: none;
  margin: 5px;
  border: none;
  background-color: #135ea2;
  color: #fff;
}

.btn:hover {
  background: chocolate;
  cursor: pointer;
}

.btn-small:hover {
  background: chocolate;
  color: white;
  cursor: pointer;
}

.btn-status {
  background-color: chocolate;
  color: rgba(255, 255, 255, 0.8);
  width: 100px;
  height: 40px;
  border-radius: 30px;
  text-align: center;
  outline: none;
  margin: 5px;
  border: none;
}

.profile-btn-small {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 25px;
  border-radius: 30px;
  text-align: center;
  outline: none;
  margin: 5px;
  border: none;
  background-color: #135ea2;
  color: #fff;
  margin-left: 15px;
}

.profile-btn-small:hover {
  background: chocolate;
  cursor: pointer;
}

.remove-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 26px;
  border-radius: 30px;
  text-align: center;
  outline: none;
  margin: 5px;
  border: none;
  background-color: #135ea2;
  color: #fff;
  margin-left: 15px;
}

.remove-btn:hover {
  background: chocolate;
  color: white;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
